@media screen and (min-width: 428px) {
  .container {
    width: 428px;
    padding: 0px 16px;
  }

  .features-text {
    font-weight: 500;
  }

  .section-title {
    padding-bottom: 112px;
    padding-top: 112px;
  }

  .title {
    width: 320px;
    padding-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
  }

  .features-header {
    font-family: inherit;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
  }

  .team-ul {
    gap: 72px;
  }

  .section {
    padding-bottom: 96px;
    padding-top: 96px;
  }

  .customers-ul {
    gap: 72px 16px;
  }

  .features-ul {
    gap: 72px;
  }

  .footer {
    padding-bottom: 96px;
    padding-top: 96px;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-tagline {
    text-align: left;
  }

  .social-footer {
    text-align: center;
  }

  .footer-subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .subscription-container {
    text-align: center;
  }

  .footer-subscription-input {
    width: 398px;
    opacity: 0.3;
  }

  .footer .container {
    justify-content: center;
  }

  .social-footer {
    margin-top: 72px;
    margin-bottom: 72px;
  }

  .footer-subscription-button {
    margin-top: 16px;
    margin-left: 0px;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  .modal {
    width: 408px;
  }

  .logo-header {
    margin-top: 24px;
    margin-bottom: 22px;
  }
}

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .features-icon {
    display: none;
  }

  .section-services {
    display: none;
  }

  .header-nav-list {
    display: none;
  }

  .header-address-list {
    display: none;
  }
}
