* {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000000;
}

.body-medium {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-1 {
  font-family: inherit;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-2 {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.header-3 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title {
  width: 496px;
  padding-bottom: 48px;
  text-align: center;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-nav-list {
  gap: 40px;
}

.header-address-list {
  gap: 40px;
}

.width-264 {
  max-width: 264px;
}

.footer {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #2e2f42;
}

.footer-tagline {
  margin-top: 16px;
}

.section {
  padding-bottom: 120px;
  padding-top: 120px;
}

.section-title {
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/title-bg.jpg);
}

.section-services {
  padding-bottom: 120px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-1 {
  padding: 16px 32px 16px 32px;
  border: none;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #4d5ae5;
  cursor: pointer;
}

.btn-2 {
  padding: 12px 24px 12px 24px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #e7e9fc;
  cursor: pointer;
  color: #4d5ae5;
}

.btn-2-active {
  background-color: #404BBF;
  color: #ffffff;
}

.btn-1:hover,
.btn-2:hover {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  text-decoration: none;
  font-style: normal;
  padding: 24px 0;
  position: relative;
  display: block;
}

.header-link:hover,
.header-link:active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.clear-ul {
  list-style: none;
  align-content: center;
}

.features-ul {
  gap: 24px;
}

.features-header,
.portfolio-header {
  margin-bottom: 8px;
}

.features-li {
  width: calc((100% - 72px) / 4);
}

.features-icon {
  padding: 24px 100px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.services-ul {
  margin-top: 72px;
  gap: 24px;
}

.team-ul {
  margin-top: 72px;
  gap: 24px;
}

.team-li {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  width: calc((100% - 3 * 24px) / 4);
}

.team-header {
  margin-bottom: 8px;
}

.team-ul-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-img {
  display: block;
}

.team-icons-ul {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-icons-li,
.footer-media-li {
  width: 40px;
  height: 40px;
}

.team-icons-link,
.footer-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: #31d0aa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-ul {
  list-style: none;
  gap: 24px;
  display: flex;
  margin-top: 72px;
}

.customers-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  opacity: 0px;
  fill: #8E8F99;
}

.customers-link:hover,
.customers-link:focus {
  fill: #404BBF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
}

.order-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 408px;
  height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover,
.modal-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header-address {
  margin-left: auto;
}

.logo-header {
  display: inline-flex;
}

.logo-footer {
  display: inline-flex;
}

.header .container {
  gap: 76px;
}

.footer .container {
  display: flex;
  gap: 120px;
}

.footer-media-ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin-top: 16px;
}

.logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}

.grid-item-text {
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.grid-item-text h3 {
  margin-bottom: 8px;
}

.overlay-container{
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #4d5ae5;
}

.grid-item:hover .overlay,
.grid-item:focus .overlay {
  transform: translateY(0);
  transition: transform 300ms;
}

.link-no-decoration {
  text-decoration: none;
}

.portfolio-img {
  display: block;
}

.cloud-bg {
  background-color: #f4f4fd;
}

.slate {
  color: #434455;
}

.cloud {
  color: #f4f4fd;
}

.white {
  color: #ffffff;
}

.iris {
  color: #4d5ae5;
}

.navy-blue-bg {
  background-color: #2e2f42;
}

.navy-blue {
  color: #2e2f42;
}

.ocean-bg {
  background-color: #404bbf;
}

.cornflower-bg {
  background-color: #e7e9fc;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
}

.header-link.current::after {
  background-color: #404bbf;
}

.current {
  color: #404bbf;
}
