* {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0px 16px 0px 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-direction-col {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #000000;
}

.body-medium {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-1 {
  font-family: inherit;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.header-2 {
  font-family: inherit;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.header-3 {
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.title {
  font-family: inherit;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  font-size: 36px;
  line-height: 1.11;
  margin: auto;

  max-width: 320px;
}

.small-text {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.footer {
  background-color: #2e2f42;
}

.footer-tagline {
  margin-top: 16px;
  width: 264px;
}

.section {
  padding-top: 96px;
}

.section-team {
  margin-top: 96px;
  padding-bottom: 96px;
}

.section-title {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/title-bg-mobile@1x.jpg);
  padding: 112px 0 112px 0;
  max-width: 425px;
  margin: auto;
  background-size: cover;
}

@media (min-resolution: 192px) {
  .section-title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/title-bg-mobile@2x.jpg);
  }
}

.section-services {
  display: none;
  padding-top: 120px;
}

.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-1 {
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  border: none;
  opacity: 0px;
  box-shadow: 0px 4px 4px 0px #00000026;
  background-color: #4d5ae5;
  cursor: pointer;
}

.title-btn {
  margin: 72px auto 0px auto;
}

.btn-2 {
  padding: 12px 24px 12px 24px;
  gap: 0px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #e7e9fc;
  cursor: pointer;
  color: #4d5ae5;
  background-color: #f4f4fd;
}

.btn-2-active {
  background-color: #404bbf;
  color: #ffffff;
}

.btn-1:hover,
.btn-2:hover,
.footer-subscription-button:hover,
.footer-subscription-button:focus {
  background-color: #404bbf;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link {
  text-decoration: none;
  font-style: normal;
  position: relative;
  display: block;
  margin: auto;
}

.header-address-link {
  text-decoration: none;
  font-style: normal;
  position: relative;
  display: block;
  margin: auto;
}

.header-address-list {
  justify-content: center;
  align-items: center;
  gap: 12px;
  display: flex;
  flex-direction: column;
}

.header-nav-list {
  display: none;
  gap: 40px;
}

.header-nav-link {
  padding: 24px 0;
}

.header-link:hover,
.header-link:active {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.clear-ul {
  list-style: none;
  align-content: center;
}

.features-ul {
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.features-header,
.portfolio-header {
  margin-bottom: 8px;
  font-family: inherit;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.features-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 500;
}

.features-icon {
  padding: 24px 100px;
  background-color: #f4f4fd;
  margin-bottom: 8px;

  display: none;
}

.services-ul {
  margin-top: 72px;
  gap: 24px;
}

.team-ul {
  flex-wrap: wrap;
  justify-content: center;
}

.team-li {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
  box-shadow: 0px 1px 1px 0px #2e2f4229;
  box-shadow: 0px 1px 6px 0px #2e2f4214;
  margin-top: 72px;
}

.team-header {
  margin-bottom: 8px;
}

.team-ul-text {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.team-img {
  display: block;
}

.team-icons-ul {
  display: flex;
  list-style: none;
  gap: 24px;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.team-icons-li,
.footer-media-li {
  width: 40px;
  height: 40px;
}

.team-icons-link,
.footer-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: #31d0aa;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-ul {
  list-style: none;
  display: flex;
  margin-top: 72px;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 16px;
}

.customers-link {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  opacity: 0px;
  fill: #8e8f99;
}

.customers-link:hover,
.customers-link:focus {
  fill: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2e2f4266;
}

.order-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  width: 100%;
  max-width: 396px;
}

.modal-button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 24px;
}

.modal-button {
  width: 24px;
  height: 24px;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e2f42;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button:hover,
.modal-button:focus,
.team-icons-link:hover,
.team-icons-link:focus {
  fill: #ffffff;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-modal.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-inputs {
  gap: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.order-modal-input {
  width: 100%;
  border: 1px solid #2e2f4266;
  height: 40px;
  border-radius: 4px;
  padding-left: 38px;
}

.order-modal-input:hover,
.order-modal-input:focus,
.footer-subscription-input:hover,
.footer-subscription-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 10px;
  /* Adjust the left position as needed */
  transform: translateY(-50%);
}

.modal-svg-use:hover,
.modal-svg-use:focus,
.input-container:focus-within .modal-svg-use,
.input-container:hover .modal-svg-use {
  fill: #4d5ae5;
}

/* Checkbox */

.agreement-label-checkbox {
  color: #8e8f99;
  font-family: inherit;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.48px;
}

input[type='checkbox']:checked+.agreement-label-checkbox>.agreement-checkbox {
  border-color: transparent;
  background-color: #404bbf;
  fill: #ffffff;
  transform: scale(1);
}

.agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  background-color: #ffffff;
}

.order-modal-icon-checkbox {
  fill: transparent;
  transform: scale(1);
  transition: 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* --- */

.order-form {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.comment-input {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid #2e2f4266;
  resize: none;
}

.comment-input:hover,
.comment-input:focus {
  border: 1px solid #4d5ae5;
  outline: none;
}

.submit-btn {
  padding: 16px 32px 16px 32px;
  width: 169px;
  margin-top: 24px;
}

.header-address {
  display: none;
  margin-left: auto;
}

.logo-header {
  display: inline-flex;
  margin: 24px 0px 20px 0px;
}

.logo-footer {
  display: inline-flex;
}

.header .container {
  display: flex;
}

/*  */

ul {
  list-style: none;
}

.menu-toggle {
  min-height: 32px;
  min-width: 22px;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 24px;
  right: 16px;
}

.menu-toggle-container:hover,
.menu-toggle-container:focus {
  color: #ffffff;
  background-color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;

  z-index: 999;

  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle-container {
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-bottom {
  margin-top: auto;
}

.mobile-menu-link {
  color: #2e2f42;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-decoration: none;
}

.mobile-menu-link:hover,
.mobile-menu-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  color: #404bbf;
}

.mobile-contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}

.mobile-contacts-phone-link {
  color: #4d5ae5;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11111;
  text-transform: capitalize;
  text-decoration: none;
  font-style: normal;
}

.mobile-contacts-email-link {
  color: #434455;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-decoration: none;
  font-style: normal;
}

.mobile-contacts-phone-link:hover,
.mobile-contacts-phone-link:focus {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-contacts-email-link:hover,
.mobile-contacts-email-link:focus {
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-social {
  display: flex;
  align-items: center;
  margin-top: 48px;
}

.mobile-social-list {
  display: flex;
  gap: 56px;
}

.mobile-social-list-li {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
}

.mobile-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  fill: #f4f4fd;
  background-color: #4d5ae5;
}

.mobile-social-list-link:hover,
.mobile-social-list-link:focus {
  fill: #f4f4fd;
  background-color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-container {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #2e2f42;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

/*  */
.footer .container {
  margin: auto;
  padding-top: 96px;
  padding-bottom: 96px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.social-text {
  text-align: center;
}

.features-li {
  max-width: 396px;
}

.footer-media-ul {
  display: flex;
  list-style: none;
  gap: 16px;
  margin-top: 16px;
}

.subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-subscription-input {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.04em;
  text-align: left;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 8px 16px;
  width: 100%;
  opacity: 30%;
}

.footer-subscription-input::placeholder {
  color: #ffffff;
}

.footer-subscription-form {
  margin-top: 16px;
  width: 100%;
}

.footer-subscription-button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  padding: 8px 24px;
  align-items: center;
  justify-content: center;
  width: 165px;
  margin: 16px auto 0px auto;

  gap: 16px;
  border-radius: 4px;
  opacity: 0px;
  background-color: #4d5ae5;
  fill: #ffffff;
  border: none;
  cursor: pointer;
}

.section-customers {
  padding-bottom: 96px;
}

.footer-logo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.logo {
  font-family: Raleway;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  row-gap: 48px;
  column-gap: 24px;
  margin-top: 72px;
}

.grid-item-text {
  padding-left: 16px;
  padding-bottom: 32px;
  padding-top: 32px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.grid-item-text h3 {
  margin-bottom: 8px;
}

.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: #f4f4fd;

  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  background-color: #4d5ae5;
}

.grid-item:hover .overlay,
.grid-item:focus .overlay {
  transform: translateY(0);
  transition: transform 300ms;
}

.grid-item:hover,
.grid-item:focus {
  color: #404bbf;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-no-decoration {
  text-decoration: none;
}

.portfolio-img {
  display: block;
}

.cloud-bg {
  background-color: #f4f4fd;
}

.slate {
  color: #434455;
}

.light-slate {
  color: #8e8f99;
}

.cloud {
  color: #f4f4fd;
}

.white {
  color: #ffffff;
}

.iris {
  color: #4d5ae5;
}

.navy-blue-bg {
  background-color: #2e2f42;
}

.navy-blue {
  color: #2e2f42;
}

.ocean-bg {
  background-color: #404bbf;
}

.cornflower-bg {
  background-color: #e7e9fc;
}

.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

.header-link.current::after {
  background-color: #404bbf;
}

.current {
  color: #404bbf;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .section-title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/title-bg-tablet@1x.jpg);
      max-width: 768px;
  }

  @media (min-resolution: 192px) {
    .section-title {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/title-bg-tablet@2x.jpg);
    }
  }

  .modal {
    max-width: 408px;
  }

  .header-nav-list {
    display: flex;
  }

  .header-address {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .header-nav {
    margin-left: 120px;
  }

  .title {
    font-family: inherit;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
  }

  .title-btn {
    margin-top: 36px;
  }

  .features-ul {
    gap: 72px 24px;
  }

  .features-li {
    max-width: 356px;
  }

  .features-header {
    text-align: left;
  }

  .team-ul {
    gap: 64px 24px;
  }

  .customers-ul {
    gap: 72px 24px;
  }

  .footer .container {
    justify-content: start;
    gap: 72px 24px;
    padding-left: 108px;
  }

  .footer-subscription-input {
    max-width: 264px;
  }

  .footer-logo {
    align-items: start;
  }

  .footer .container {
    align-items: start;
    gap: 72px 24px;
    padding: 96px auto 96px auto;
  }

  .social-text {
    text-align: start;
  }

  .social-footer {
    margin-top: 0px;
  }

  .subscription-container {
    text-align: start;
    align-items: start;
    justify-content: start;
    max-width: 453px;
  }

  .footer-subscription-form {
    display: flex;
  }

  .footer-subscription-button {
    margin: 0 0 0 24px;
  }

  .features-ul {
    align-items: start;
  }
}

@media (min-width: 1440px) {
  .section-title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/title-bg-desk@2x.jpg);
      max-width: 1440px;
  }

  @media (min-resolution: 192px) {
    .section-title {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/title-bg-desk@2x.jpg);
    }
  }

  .modal {
    max-width: 408px;
  }

  .features-icon {
    display: block;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-nav-list {
    display: flex;
  }

  .header-address {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }

  .header-nav {
    margin-left: 76px;
  }

  .header .container {
    padding: 0px 156px;
  }

  .title {
    max-width: 496px;
  }

  .title-btn {
    margin-top: 48px;
  }

  .features-header {
    font-family: inherit;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .features-text {
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }

  .section-services {
    display: block;
  }

  .section {
    padding-top: 120px;
  }

  .section-customers {
    padding-bottom: 120px;
  }

  .section-team {
    margin-top: 120px;
    padding-bottom: 120px;
  }

  .features-li {
    max-width: 264px;
  }

  .features-ul {
    gap: 24px;
  }

  .customers-ul {
    gap: 24px;
  }

  .team-ul {
    gap: 24px;
  }

  .footer-subscription-input {
    width: 264px;
  }

  .footer-subscription-form {
    width: unset;
  }

  .footer-subscription-form {
    display: flex;
  }

  .footer-subscription-button {
    margin: 0 0 0 24px;
  }

  .subscription-container {
    text-align: start;
    align-items: start;
    justify-content: start;
    max-width: 453px;
    margin-left: 80px;
  }

  .footer-logo {
    align-items: start;
  }

  .social-text {
    text-align: start;
  }

  .footer .container {
    justify-content: start;
    align-items: start;
    gap: 0px;
    padding: 100px 0px 100px 156px;
  }

  .social-footer {
    margin-left: 120px;
  }
}