body {
  margin: 0;
  padding: 0;
}

header {
  display: inline-flex; /* Set header to display inline */
  width: 100%;
  height: 72px;
  align-items: center;
}

footer {
  height: 312px;
  background-color: #2e2f42;
  align-content: center;
}

.section-1 {
  width: 100%;
  height: 600px;
  background-color: #2e2f42;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.section-1-text {
  font-family: Roboto;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  width: 496px;
}

.section-1-btn {
  width: Hug (169px) px;
  height: Hug (56px) px;
  top: 428px;
  left: 636px;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px #00000026;
  color: #ffffff;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
}

.section-2 {
  margin-top: 156px;
  margin-bottom: 156px;
}

.section-2 ul {
  display: inline-flex;
  margin-left: 156px;
  margin-right: 156px;
  list-style: none;
  justify-content: space-evenly;
  align-content: center;
  padding: 0;
}

.section-2 li {
  min-width: 264px;
}

.section-2 h3 {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
  margin-bottom: 8px;
}

.section-2 p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #434455;
  margin: 0;
}

.studio-header-text,
.studio-footer-text,
.web-text {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 16px;
}

.web-text {
  color: #4d5ae5;
}

.studio-header-text {
  color: #2e2f42;
}

.studio-footer-text {
  color: #f4f4fd;
}

header li {
  display: inline-flex; /* Set ul within header to display inline */
}

address {
  margin-left: auto; /* Push the address element to the right */
  margin-right: 156px;
}

address a,
nav a,
.footer-text {
  text-decoration: none;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: left;
  margin-left: 40px;
}

address a {
  font-weight: 400;
  color: #434455;
}

nav a {
  font-weight: 500;
  color: #2e2f42;
}

.logo {
  display: inline-flex; /* Set logo to display inline */
  margin-left: 156px;
}

.footer-text {
  font-weight: 400;
  color: #f4f4fd;
  margin-left: 156px;
  margin-top: 0px;
  width: 264px;
}
