@media screen and (min-width: 768px) and (min-resolution: 192dpi){
  .container {
    width: 768px;
  }

  .header-address-list {
    flex-direction: column;
    gap: 12px;
  }

  .footer .container {
    gap: 72px 0px;
    width: 528px;
    justify-content: unset;
  }

  .social-footer {
    margin-left: 24px;
    margin-right: auto;
  }

  .features-icon {
    display: none;
  }

  .features-header {
    text-align: left;
  }

  .features-ul {
    gap: 72px 24px;
  }

  .features-li {
    width: calc((100% - 24px) / 2);
  }

  .menu-container {
    display: none;
  }

  .title {
    width: 496px;
    padding-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
  }

  .team-ul {
    gap: 64px 24px;
  }

  .customers-ul {
    gap: 72px 24px;
  }

  .footer-logo {
    text-align: left;
  }

  .social-footer {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer-subscription-form {
    display: flex;
    flex-direction: row;
  }

  .subscription-container {
    text-align: left;
  }

  .footer-subscription-input {
    opacity: 1;
    width: 264px;
  }

  .footer-subscription-button {
    margin-top: 0px;
    margin-left: 24px;
  }

  .header-nav-list {
    display: flex;
  }

  .header-address-list {
    display: flex;
  }

  .menu-toggle {
    display: none;
  }
  .modal {
    width: 408px;
  }

  .logo-header {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}
